.wrapper-column {
  display: flex;
  flex-flow: column;
  align-items: center;  
}

.wrapper {
  width: 100%;
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.image {
  margin: 3%; 
}

.wrapper h2 {
  flex: 1 100%;
}

img {
  border-radius: 4px;
}

 .wrapper img {
   width: 300px;
   justify-content: center;
 }

 #header {
   display: flex;
   align-items: center;
  text-align: center;
  justify-content: center;
  border-bottom: 3px double #dddddd;
  width: 60%;

 }

#quote {
  background-image: url(ecllipse-1.jpg);
  height: 250px;
  color: #dddddd;
  text-align: center;
  text-transform: uppercase;
  object-fit: cover;
}

 .sidebar img {
   float: left;
   object-fit: cover;
   width: 80px;
   height: 80px;
   margin: 0 20px 20px 0
 }

 p {
   text-align: justify;
 }
 
#header h1 {
  width: 100%;
  font-size: 72px;
  color: #f17f73;
  font-family: Bookman;
  text-shadow: 2px 2px #838383;
  text-transform: uppercase;
  margin-bottom: 5px;
} 

#header a {
  text-decoration: none;
  color: inherit;
}

.sidebar div {
  border-bottom: 3px double #838383;
  padding: 20px 10px 20px 0;
}

.blogpost a {
  text-decoration: none;
}


.blogpost {
  margin-bottom: 10px;
}

.article {
  padding: 50px 10px;
  border-bottom: 3px double #838383;
}

button {
  background-color: #f17f73;
  color: white;
  text-align: center;
  padding: 5px 15px 5px 15px;
  box-shadow: 0 4px 4px 0 #838383;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

button:hover, a:hover {
  opacity: .5;
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h2 {
  color: #838383;
  text-transform: uppercase;
  font-size: 18;
}

h3 {
  color: #838383;
  text-align: center;
}

#main .wrapper {
  width: 60%;
}

.articles img {
  width: 100%;
}

.articles {
  padding: 2%;
  width: 40%;
}

.sidebar {
  width: 20%;
  padding-top: calc(60px + 2%);
}

.date {
  background-color: #838383;
  color: white;
  padding: 5px;
  display: inline;
}

.input-button {
  background-color: #f17f73;
  color: white;
  text-align: center;
  padding: 5px 15px 5px 15px;
  box-shadow: 0 4px 4px 0 #838383;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

input[type=text]{
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  display: inline-block;
  width: 40%;
}

#message {
  height: 200px;
  width: 90%;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 4px;
  padding: 10px;
}

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25% 75%;
  background-color: #cccc;
  grid-template-areas: 
    "title title"
    "form contact";
  padding: 50px 15%;
  margin-top: 20px;
}

.footer-title {
  grid-area: title;
  display: inline;
  text-align: center
}

.input-area {
  grid-area: form;
  margin-right: 80px;
}

.contact-info {
  grid-area: contact;
}

ul {
  columns: 2;
  list-style-type: none;
}

li div{
  display: inline-block;
}

li p {
  width: calc(100% - 1em);
  float: right;
}

li img {
  width: 16px;
}

em {
  color: #3a3a3a;
}